.navbar{
	background-color: #e3f2fd
}
.navbar-nav{
	flex: 1;
	margin: auto !important;
	display: flex;
	justify-content: space-around;
	color: yellow;

}
.navbar-custom { 
    background-color: purple; 
} 
.nav-link{ 
    color: yellow; 
} 

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 193, 7, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler{
	border-color: rgb(255, 193, 7);
}
.gcd-logo-navbar{
	display: flex;
	justify-content: center;
}
.parallax {
  /* The image used */
  

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bio{
	float: right;
	justify-content: right;
	width: 33%;
}
.bio-text{
	justify-content: right;
	color: yellow;
}